* {
  text-align: center;
  font-family: Helvetica;
}

.headline, #interval {
  color: white;
  background-image: url("../picture/the-flatiron-building.png");
}

h1 {
  font-weight: bold;
  font-size: 70px;
}

#options {
  font-size: 18px;
}

h2, h3, .footer1 {
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3, .footer1 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.footer, .footer1 {
  text-align: left;
}
